.container{

    .detail{
        border-color: teal;
        color: teal;
    }

    .delete_act{
        color: red;
        cursor: pointer;
        font-size: 20px;
        margin-left: 10px;
    }
}