.container{
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;

    .logo{
        cursor: pointer;
        font-weight: 700;
        font-size: 25px;
    }

    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .name_user{
            margin-left: 10px;
            font-size: 20px;
            font-weight: 500;
        }
    }
}