.container{

    .avatarmain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button{
        background-color: teal;
        color: white;
    }

    .button_reset{
        margin-left: 10px;
        border-color: teal;
    }
}

.upload{
    margin-top: 20px;
    width: fit-content;

    .btn_upload_image{
        color: white;
        background: teal;
    }
}